
/*-- FONTS --*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Capture';
    src: url('../font/capturanow_medium.otf');
}

/*-- MAIN STYLES --*/

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #fafafa;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/** {*/
/*    scroll-behavior: smooth;*/
/*}*/

/*-- HEADER STYLES --*/

.topbar {
    width: 100%;
    background: #000000;
    padding-top: 12px;
    padding-bottom: 12px;
}

.topbar p {
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.7px;
    font-weight: 700;
}

/*-- MAIN SECTION STYLES --*/

.main-section {
    padding-top: 28px;
    padding-bottom: 30px;
    background: #fff;
}

@media(max-width: 768px) {
    .main-section {
        padding-top: 0;
    }
    .main-section-logo {
        display: none;
    }
}

@media(min-width: 769px) {
    .mobile-slider-wrapper {
        display: none;
    }
}

.mobile-slider-wrapper {
    position: relative;
}

.mobile-slider-wrapper .slick-slide {
    padding-top: 0;
}

.mobile-slider-wrapper .slick-dots {
    position: absolute;
    bottom: 15px;
}

.mobile-slick-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #000;
    opacity: .4;
}

.mobile-slider-wrapper .slick-active .mobile-slick-dot {
    opacity: 1;
}

.mobile-slider-step-btn {
    padding: 10px 13px;
    position: absolute;
    z-index: 99;
    top: 30vw;
    font-size: 26px;
    background: rgba(255, 255, 255, .75);
    outline: none;
    border: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #232323
}

.mobile-slider-step-btn:first-child {
    left: 15px;
}

.mobile-slider-step-btn:last-child {
    right: 15px;
}

.logotype {
    width: 68px;
}

.flex-main {
    display: flex;
}

.main-description {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 34px;
    font-size: 28px;
    color: #000;
    padding-top: 22px;
}

.main-title {
    font-size: 38px;
    line-height: 1.3;
    font-weight: bold;
    padding-top: 19px;
    font-weight: 400;
    line-height: 46px;
}

.left-main {
    width: 43%;
}

.box-12-cookies {
    font-family: Bebas Neue, sans-serif;
    color: #000;
    line-height: 43px;
    font-size: 34px;
    padding-right: 10px;
}

.old-price {
    color: #696969;
    text-decoration: line-through;
}


.star {
    width: 15px;
}

.flex-starts {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.box-starts {
    display: flex;
    align-items: center;
}

.box-starts img {
    padding-right: 2px;
}

.try-button {
    display: inline-block;
    color: rgb(255, 255, 255);
    background: #000;
    border-radius: 6px;
    padding: 17px 40px 13px 40px;
    transition: .2s;

    font-family: 'Bebas Neue', display;
    font-size: 30px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.try-button:hover {
    opacity: .8;
}


.try-button:active {
    transform: scale(.99);
}

.button-block {
    padding-top: 20px;
}

.flex-info-img {
    display: flex;
    align-items: center;
    padding-left: 35px;
}

.gmo-img {
    width: 270px;
}

.ssl-img {
    width: 140px;
}

.main-img {
    width: 585px;
}

.right-main {
    width: 57%;
    padding-top: 40px;
    position: relative;
}

.label-main {
    width: 130px;
    position: absolute;
    top: 87px;
    right: 0;
}
.orderStepHeaderTitle {
    font-family: Capture, sans-serif;
}
.review-main {
    line-height: 17px;
    font-size: 14px;
    color: rgb(255, 153, 0);
    padding-left: 5px;
}

.review-main-block .star {
    color: rgb(255, 153, 0);
}

.review-main-block {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.box-small {
    line-height: 29px;
    font-size: 24px;
}

/*-- AS SEE SECTION STYLES --*/

.as-see-section {
    background: rgb(239, 239, 239);
    padding-top: 33px;
    padding-bottom: 33px;
    margin-top: -88px;
    position: relative;
    z-index: 9;
}

.as-see-text {
    line-height: 18px;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.5px;
}

.cm-1 {
    width: 114px;
}

.cm-2 {
    width: 122px;
}

.cm-3 {
    width: 55px;
}

.cm-4 {
    width: 96px;
    height: 20px;
}

.cm-5 {
    width: 78px;
}

.cm-6 {
    width: 97px;
}

.cm-7 {
    width: 118px;
}

.cm-8 {
    width: 99px;
}

.flex-cm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
}

.as-see-bg {
    background-color: rgba(239, 239, 239, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    font-family: 'Lato', sans-serif;
}

.main-list {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 22px;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 20px;
}

.main-list li {
    list-style: disc;
}

/*-- COOLIES INFO SECTION STYLES --*/

.title {
    line-height: 53px;
    font-size: 44px;
    color: rgb(3, 3, 3);
    text-align: center;
}

.description-title {
    color: rgb(26, 25, 24);
    line-height: 29px;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}

.cookies-info-section {
    font-family: Capture, sans-serif;
    padding-top: 91px;
    padding-bottom: 40px;
}

.check-icon {
    width: 104px;
}

.left-check, .right-check {
    width: 25%;
}

.check-box {
    text-align: center;
}

.title-check {
    font-family: Bebas Neue, sans-serif;
    color: rgb(26, 25, 24);
    line-height: 38px;
    font-size: 32px;
}

.flex-check {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}

.center-check {
    padding-top: 27px;
}

.text-check {
    color: rgb(71, 71, 71);
    line-height: 19px;
    font-size: 16px;
    padding-top: 13px;
}

.second-check-box {
    padding-top: 50px;
}

.cake-gif {
    width: 480px;
}

.learn-icon {
    width: 76px;
    cursor: pointer;
}

.learn-text {
    color: rgb(199, 199, 199);
    line-height: 14px;
    font-size: 12px;
    cursor: pointer;
}

.learn-block {
    text-align: center;
    padding-top: 20px;
}

/*-- PEOPLE SECTION STYLES --*/

.section-people {
    background: #761664;
    padding-top: 150px;
    padding-bottom: 65px;
    margin-top: -70px;
}

.section-people .title {
    font-family: Capture, sans-serif;
    font-size: 38px;
    line-height: 46px;
}

.white {
    color: #fff;
}

@media(max-width: 768px) {
    .section-people .title {
        max-width: 450px;
        margin: auto;
    }
}

.face-img {
    width: 205px;
    height: 207px;
    border: 2px solid #ffff;
    border-radius: 50%;
    /*box-shadow: 0px 0px 75px 3px rgb(0 0 0 / 35%);*/
}

.text-face {
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding-top: 50px;
}

.name-face {
    font-family: 'Lato', sans-serif;
    color: #fff;
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 12px;
}

.face-block {
    text-align: center;
    width: 27%;
}

.face-flex .face-block:nth-child(2) {
    width: 31%;
}

.face-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 55px;
}

.flex-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.flex-des img {
    margin-left: -30px;
}

/*-- INFO SECTION STYLES --*/

.info-section {
    padding-top: 40px;
}

.info-title {
    font-family: Capture, sans-serif;
    line-height: 38px;
    font-size: 32px;
    font-weight: 400;
    color: #000;
    text-align: left;
}

.info-des {
    font-family: 'Lato', sans-serif;
    color: rgb(71, 71, 71);
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    padding-top: 20px;
    line-height: 22px;
}

.flex-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 75px;
}

.des-img {
    width: 404px;
    border-radius: 9px;
}

.text-info {
    width: 47%;
}

.info-section .container .flex-info:nth-child(2) .text-info {
    order: 2;
    text-align: right!important;
}

.info-section .container .flex-info:nth-child(2) .img-info {
    order: 1;
    text-align: right!important;
}

.info-section .container .flex-info:nth-child(3) .des-img {
    width: 464px;
}

/*-- BOX SECTION STYLES --*/

.grab-block {
    background: rgb(144, 62, 129); 
    padding-top: 38px;
    padding-bottom: 38px;  
}

.grab-block .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grab-box-title {
    line-height: 58px;
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding-right: 20px;
}

.finger {
    width: 40px;
}

.section-box {
    margin-top: 95px;
    font-family: Capture, sans-serif;
}

.check-des {
    width: 158px;
}

.title-box-block {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 20px 30px;
    margin-top: 100px;
}

.title-box {
    line-height: 38px;
    font-size: 32px;
    color: #000;
}

.section-box .container {
    max-width: 1200px;
}

/*-- CUSTOMER SAY SECTION STYLES --*/

.section-customers-say {
    padding-top: 100px;
    font-family: Capture, sans-serif;
}

.customer-title {
    color: rgb(91, 61, 63);
    line-height: 65px;
    font-size: 54px;
    text-align: center;
    padding-bottom: 75px;
}

.review-stars-block {
    display: flex;
    align-items: center;
}

.review-star {
    width: 18px;
}

.review-block {
    width: 100%;
    border-top: 1px solid #e3e3e1;
    padding-top: 30px;
    margin-top: 30px;
    font-family: Lato, sans-serif;
}

.title-review {
    font-size: 14px;
    font-weight: 700;
    color: #5b3d3e;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 5px;
}

.who-review {
    font-size: 13px;
    font-weight: 400;
    color: #5b3d3e;
    padding-top: 8px;
}

.text-review {
    font-size: 15px;
    font-weight: 400;
    color: #5b3d3e;
    padding-top: 8px;
    line-height: 1.5;
}

.riveiw-report {
    font-size: 11px;
    font-weight: 400;
    color: #000;
    text-align: right;
    padding-top: 10px;
    text-decoration: underline;
}

/*-- CUSTOMER SAY SECTION STYLES --*/

.get-now-section {
    background: rgb(144, 62, 129); 
    margin-top: 130px;
    padding-top: 55px;
    padding-bottom: 55px;
}

.title-get {
    line-height: 58px;
    font-size: 48px;
    color: #fff;
}

.text-get {
    line-height: 29px;
    font-size: 24px;
    color: #fff;
}

.button-get {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: rgb(144, 62, 129);
    background: #fff;
    padding: 22px 100px;
    border-radius: 6px;
    transition: .2s;
}

.button-get:hover {
    opacity: .9;
}

.button-get:active {
    transform: scale(.99);
}

.rated-get {
    font-size: 20px;
    line-height: 25px;
    font-family: Bebas Neue, sans-serif;
    color: #fff;
}

.star-get {
    width: 16px;
    margin-top: -3px;
}

.flex-rated {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.rated-get {
    padding-right: 10px;
}

.flex-get {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/*-- VIDEO SECTION STYLES --*/

.label-block {
    background: #fff;
    box-shadow: 0px 0px 32px 0px rgb(0 0 0 / 10%);
    border-radius: 9px;
    text-align: center;
    position: relative;
    z-index: 9;
    width: 980px;
    margin: 0 auto;
    margin-top: 75px;
}

.label-info {
    width: 800px;
}

.flex-video {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.video-block {
    text-align: center;
}

.video {
    width: 345px;
    height: 195px;
}

.video-name {
    line-height: 26px;
    font-size: 22px;
    color: #000;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 15px;
}

.videos-section {
    padding-top: 70px;
}

.videos-section .container {
    max-width: 1200px;
}

.ingretients {
    text-decoration: underline;
    color: rgb(116, 116, 116);
    line-height: 14px;
    font-size: 12px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.ingretients:hover {
    color: rgba(0, 0, 0, .9);
}

.ingretients:active {
    transform: scale(.99);
}

.title-vid {
    font-family: Capture, sans-serif;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-align: center;
}

.des-vid {
    font-family: Capture, sans-serif;
    line-height: 50px;
    font-size: 42px;
    color: #000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

/*-- FAQ SECTION STYLES --*/

.faq-section {
    text-align: center;
    padding-top: 60px;
    background: #fffef8;
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
    font-family: Capture, sans-serif!important;
}

.faq-title {
    line-height: 65px;
    font-size: 54px;
    color: rgb(91, 61, 63);
}

.faq-line {
    border-top: 4px solid #4c2836;
    width: 27%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title-faq {
    line-height: 29px;
    font-size: 24px;
    color: rgb(91, 61, 63);
}

.text-faq {
    font-family: Lato, sans-serif;
    line-height: 22px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    padding-top: 30px;
}

.faq-section .container {
    max-width: 800px;
}

.satisfy-button {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    background: rgb(144, 62, 129);
    padding: 25px 120px;
    margin-top: 20px;
    transition: .2s;
}

.satisfy-button:hover {
    opacity: .8;
}

.satisfy-button:active {
    transform: scale(.99);
}

/*-- FOOTER STYLES --*/

.footer {
    background: #000;
    padding-top: 35px;
    padding-bottom: 35px;
}


.footer-link, .footer-text {
    display: block;
    font-family: Lato, sans-serif;
    text-decoration: underline;
    line-height: 17px;
    font-size: 14px;
    color: #fff;
}

.footer-text {
    text-decoration: none;
}

.footer-small {
    line-height: 14px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-top: 15px;
}

.flex-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobile {
    display: none;
}

.mobile-main, .mobile-but {
    display: none;
}

.mob-but {
    display: none;
}

@media screen and (max-width:1200px) {
    .videos-section .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .video {
        width: 300px;
    }

    .label-block {
        width: auto;
    }
}

@media screen and (max-width:1070px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-img {
        width: auto;
        max-width: 100%;
    }

    .as-see-section {
        margin-top: 0px;
    }

    .flex-cm {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flex-cm img {
        margin: 10px;
    }

    .cake-gif {
        width: 410px;
    }

    .center-check {
        padding-top: 70px;
    }

    .label-main {
        top: 80px;
        right: 20px;
    }
}

@media screen and (max-width:992px) {
    .left-main {
        width: 47%;
    }

    .try-button {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

    .face-flex {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 10px;
    }

    .face-block {
        width: 48%!important;
        margin-top: 40px;
    }

    .des-img {
        width: 370px!important;
        max-width: 100%;
    }

    .text-info {
        margin: 15px;
    }

    .flex-get {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex-get > div {
        width: 100%;
    }

    .title-get, .text-get {
        text-align: center;
    }

    .button-get {
        margin-top: 30px;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 22px;
        padding: 20px;
    }

    .flex-video {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .videos-section {
        padding-top: 30px;
    }

    .video-block {
        padding-top: 30px;
    }

    .label-info {
        max-width: 100%;
    }

    .label-main {
        top: 70px;
    }

    .des-vid {
        padding-bottom: 0px;
    }

    .info-title {
        font-size: 26px;
    }
}

@media screen and (max-width:768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    
    .left-main {
        width: 100%;
        text-align: center;
    }
    
    .flex-starts, .flex-info-img {
        justify-content: center;
    }

    .main-section .mobile {
        padding-top: 20px;
    }

    .main-img {
        width: 450px;
    }

    .left-check {
        order: 2;
        width: 46%;
    }

    .center-check {
        order: 1;
        width: 100%;
        text-align: center;
        padding-top: 0px;
    }

    .right-check {
        order: 3;
        width: 46%;
    }

    .flex-check {
        flex-wrap: wrap;
    }

    .cookies-info-section {
        padding-top: 40px;
    }
    
    .face-block {
        width: 100%!important;
    }

    .section-people {
        margin-top: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .flex-info {
        flex-direction: column;
    }

    .info-section .container .flex-info:nth-child(1) .text-info {
        order: 2;
    }

    .info-section .container .flex-info:nth-child(3) .text-info {
        order: 2;
    }
    
    .info-section {
        padding-top: 0px;
    }

    .text-info {
        width: 100%;
        padding-top: 20px;
    }

    .info-title, .info-des {
        text-align: center!important;
    }

    .flex-info {
        padding-top: 40px;
    }

    .grab-box-title {
        font-size: 35px;
        line-height: 35px;
    }

    .satisfy-button {
        padding: 20px;
        display: block;
        width: 100%;
        line-height: 27px;
    }

    .learn-block {
        padding-top: 35px;
    }

    .footer-text, .footer-link {
        padding-bottom: 25px;
        font-size: 20px;
    }

    .mobile-but {
        display: block;
        margin-top: 40px!important;
    }

    .review-main-block {
        justify-content: center;
    }

    .mobile {
        display: none;
    }

    .main-description {
        text-align: left;
        font-size: 35px;
        line-height: 41px;
    }

    .main-list {
        text-align: left;
        font-size: 22px;
        line-height: 30px;
    }

    .review-main {
        font-size: 20px;
    }

    .star {
        width: 21px;
    }

    .flex-starts, .review-main-block {
        justify-content: flex-start;
    }
    
    .flex-info-img {
        padding-left: 0px;
    }

    .mob-but {
        display: block;
    }
    
    .label-block {
        margin-top: 30px;
    }

    .section-people {
        margin-top: -50px;
        padding-top: 100px;
    }

    .flex-des img {
        margin-left: 0px;
        width: 130px;
        margin-top: 20px;
    }

    .face-block {
        display: flex;
    }

    .face-img {
        margin-right: 10px;
    }
}

@media screen and (max-width:500px) {
    .right-check, .left-check {
        width: 100%;
    }

    .second-check-box {
        padding-top: 0px;
    }

    .check-box {
        padding-top: 30px;
    }

    .cake-gif {
        width: auto;
        max-width: 100%;
    }

    .title {
        font-size: 35px;
    }

    .section-people .title {
        font-size: 30px;
    }

    .info-title {
        font-size: 28px;
    }

    .customer-title {
        font-size: 35px;
        line-height: 45px;
        padding-bottom: 20px;
    }

    .faq-title {
        font-size: 35px;
        line-height: 45px;
    }

    .title-get {
        font-size: 35px;
        line-height: 45px;
    }

    .text-get {
        font-size: 20px;
        line-height: 26px;
        padding-top: 5px
    }

    .button-get {
        font-size: 19px;
    }

    .grab-box-title {
        font-size: 30px;
        line-height: 45px;
    }

    .video {
        width: auto;
        max-width: 100%;
    }

    .label-block {
        margin-top: 30px;
    }

    .faq-line {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .title-faq {
        font-size: 22px;
        line-height: 26px;
    }

    .main-description {
        font-size: 8vw;
        line-height: 9vw;
        padding-top: 15px;
    }

    .main-title {
        font-size: 7vw;
        line-height: 8vw;
        padding-top: 15px;
    }

    .review-main-block {
        padding-top: 10px;
    }

    .main-list {
        font-size: 5vw;
        line-height: 7vw;
    }

    .title {
        font-size: 7vw;
        line-height: 8vw;  
        position: relative;
        z-index: 9;
    }

    .section-people .title {
        font-size: 6vw;
        line-height: 7.5vw; 
    }

    .description-title {
        font-size: 4vw;
        line-height: 5vw;
        position: relative;
        z-index: 9;
    }

    .center-check {
        position: relative;
        z-index: 1;
    }

    .mobile-main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .mobile-main img {
        margin-left: -15px;
    }

    .flex-starts, .mobile-main {
        display: none;
    }

    .try-button {
        padding-top: 27px;
        padding-bottom: 27px;
    }

    .gmo-img {
        width: 70vw;
    }

    .flex-info-img {
        margin-top: 15px;
    }

    .box-12-cookies {
        font-size: 4.5vw;
    }

    .logotype {
        width: 45px;
    }

    .cm-1 {
        width: 90px;
    }

    .cm-2 {
        width: 100px;
    }

    .cm-3 {
        width: 40px;
    }

    .cm-4, .cm-8 {
        width: 85px;
    }

    .cm-5 {
        width: 65px;
    }

    .cm-6 {
        width: 80px;
    }

    .cm-7 {
        width: 100px;
    }

    .check-box {
        padding-top: 0px;
        margin-bottom: 30px;
    }

    .left-check {
        margin-top: -30px;
        position: relative;
        z-index: 9;
    }

    .title-check {
        font-size: 28px;
    }

    .text-check {
        font-size: 14px;
        padding-top: 5px;
    }

    .face-img {
        width: 150px;
        height: 155px;
    }

    .text-face {
        padding-top: 20px;
        font-size: 4.5vw;
        line-height: 6vw;
    }

    .img-info {
        text-align: center;
        max-width: 75%;
    }

    .info-title  {
        font-size: 6vw;
        line-height: 7vw;
    }

    .customer-title, .des-vid {
        font-size: 7vw;
        line-height: 8.5vw;
    }

    .info-des {
        font-size: 4vw;
    }

    .section-box {
        margin-top: 40px;
    }

    .grab-box-title {
        font-size: 5.5vw;
    }

    .finger {
        width: 7vw;
    }

    .grab-block {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .orderStepHeaderTitle {
        font-size: 4.5vw;
        line-height: 6vw;
    }

    .orderStep {
        margin-top: 20px;
    }

    .center-check {
        margin-top: -30px;
    }

    .orderStepListItemSubTitle {
        margin-bottom: 10px;
    }

    .orderStepListItemPrice {
        margin-bottom: 5px;
    }

    .orderStepListItemBottomText {
        font-size: 3vw;
    }

    .orderStepListItemAdditionalText {
        margin-bottom: 15px;
    }

    .orderStepListItemBottomText span {
        padding-top: 0px;
    }

    .orderStepListItemAdditionalText {
        display: flex;
        align-items: center;
    }

    .section-customers-say {
        padding-top: 40px;
    }

    .get-now-section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .button-get {
        margin-top: 15px;
    }

    .get-now-section {
        margin-top: 50px;
    }

    .faq-section {
        margin-top: -30px;
        padding-top: 70px;
    }

    .faq-title {
        font-size: 7vw;
        line-height: 8.5vw;
    }

    .title-faq {
        font-size: 5vw;
    }

    .text-faq {
        font-size: 4vw;
        line-height: 5vw;
        padding-top: 15px;
    }

    .satisfy-button {
        font-size: 4.5vw;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .flex-footer {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .footer-text, .footer-link {
        font-size: 3.5vw;
        padding: 10px 5px 10px 0;
    }

    .section-customers-say {
        background: rgb(255 254 248);
        margin-top: 40px;
    }

    .try-button {
        font-size: 7vw;
        padding: 15px;
    }

    .flex-des img {
        width: 25vw;
    }

    .face-img {
        height: 120px;
        width: 120px;
    }

    .name-face {
        font-size: 18px;
    }
}

@media screen and (max-width:400px) {
    .flex-starts, .flex-info-img {
        flex-direction: column;
    }

    .flex-info-img div:nth-child(2) {
        padding-top: 10px;
    }

    .box-starts {
        margin-top: 5px;
    }

    .text-get {
        font-size: 18px;
        padding-top: 10px;
    }
}
